*

!.gitignore
!settings.json
!.mailmap
!skills-lock.json

!AGENTS.md
!README.md

!.github
!.github/**

!skills
!skills/**
# external skills installed via skill lock
skills/huashu-design
skills/huashu-md-html
skills/xiaohongshu-skills

!docs
!docs/**
