*

!.gitignore
!settings.json
!.mailmap
!.skill-lock.json

!AGENTS.md
!ARTICLES.md
!README.md

!.github
!.github/**

!skills
!skills/**
# external skills installed via skill lock
skills/huashu-design
skills/huashu-md-html
skills/xiaohongshu-skills

!docs
!docs/**

!articles
!articles/**
